.th-w {
    width: 150px;
    max-width: 300px;
    display: inline-block;
}

.td-w {
    width: 300px;
    max-width: 300px;
    display: inline-block;
}

.tbody {
    display: inline-block;
    width: fit-content;
}