@keyframes socialMediasUp {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes socialMediasDown {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0px);
    }
}

.linkRS {
    padding: 5vh;
    &__linkL {
        position: absolute;
        height: 100%;
        left: 22%;
        width: 25%;
        z-index: 6;
    }
    &__linkR {
        position: absolute;
        height: 100%;
        right: 22%;
        width: 25%;
        z-index: 6;
    }
    &__linkdivL {
        background-color: white;
        height: 100%;
        z-index: 0;
        position: absolute;
        width: 25%;
        left: 22%;
    }
    &__linkdivR {
        background-color: white;
        height: 100%;
        z-index: 0;
        position: absolute;
        width: 25%;
        right: 22%;
    }
    &__linkLP {
        position: absolute;
        height: 100%;
        left: 37%;
        width: 12%;
        z-index: 6;
    }
    &__linkRP {
        position: absolute;
        height: 100%;
        right: 37%;
        width: 12%;
        z-index: 6;
    }
    &__linkdivLP {
        background-color: white;
        height: 100%;
        z-index: 0;
        position: absolute;
        width: 12%;
        left: 37%;
    }
    &__linkdivRP {
        background-color: white;
        height: 100%;
        z-index: 0;
        position: absolute;
        width: 12%;
        right: 37%;
    }
    &__linkdivHover {
        animation: socialMediasUp 450ms ease-in-out forwards;
    }
    &__linkdivHoverOff {
        animation: socialMediasDown 300ms ease-in-out 300ms forwards;
    }
}