.bg-img {
    // background-image: url('../../public/bg_pic.jpg');
    background-color: black;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    overflow: scroll;
}

.h-100vw {
    height: 100vw;
}

.h-100vh {
    height: 100vh;
}

ul, p, h1, h2, h3, section, article {
    margin: 0 !important;
    padding: 0 !important;
}