.mt-5r {
    margin-top: 5rem;
}

.h-100vh {
    height: 100vh;
}

.formatBanner {
    position: relative;
    &__img {
        width: 100%;
        height: calc(100vh - 150px);
    }
    &__title {
        position: absolute;
        top: 20%;
        right: 15%;
        width: 25%;
        height: 8%;
    }
}

.presentation {
    // position: relative;
    // top: 10px;
    border-top: 20px solid rgb(255, 0, 0);
    border-bottom: 20px solid rgb(0, 255, 255);
    &__title {
        color: white;
        text-align: center;
    }
    // &__widget {
    //     position: relative;
    //     top: 10px;
    // }
}

.banner {
    &__first {
        height: 20px;
        background-color: rgb(255, 0, 0);
    }
    &__second {
        height: 20px;
        background-color: rgb(255, 255, 255);
    }
    &__third {
        height: 20px;
        background-color: rgb(0, 255, 255);
    }
}