.mt-5r {
    margin-top: 5rem;
}

.h-100vh {
    height: 100vh;
}

.formatBanner {
    position: relative;
    &__img {
        width: 100%;
        height: calc(100vh - 150px);
    }
    &__title {
        position: absolute;
        top: 20%;
        right: 20%;
        width: 25%;
        height: 8%;
    }
}

.presentation {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    &__title {
        color: white;
        text-align: center;
    }
}

.banner {
    &__first {
        height: 20px;
        background-color: rgb(255, 241, 162);
    }
    &__second {
        height: 20px;
        background-color: rgb(255, 247, 203);
    }
    &__third {
        height: 20px;
        background-color: rgb(255, 254, 246);
    }
}