.profil {
    position: relative;

    &__picture {
        height: 164px;
        width: 164px;
    }

    &__edit {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__pseudo {
        color: white;
        font-weight: 700;
    }

    &__about {

        &__title {
            color: white;
        }

        &__body {
            color: white;
        }

    }
}

.mt-1r {
    margin-top: 1rem;
}

.ml-1r {
    margin-left: 1rem;
}

.pl-1r {
    padding-left: 1rem;
}

.mr-1r {
    margin-right: 1rem;
}

.wrap {
    flex-wrap: wrap;
}

.h-100 {
    height: 100vw;
}

.bg__profil {
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: 1rem 0 1rem 0;
}