.mr-20 {
    margin-right: 20px;
}

.flex {
    display: flex;
    &__fdc {
        flex-direction: column;
    }
    &__jcc {
        justify-content: center;
    }
    &__aic {
        align-items: center;
    }
    &__gap1 {
        gap: 1rem;
    }
    &__se {
        justify-content: space-evenly;
    }
    &__sb {
        justify-content: space-between;
    }
}

.bg-cr {
    background-color: red;
}

.userPP {
    height: 50px;
    width: 50px;
}

.navBar {
    background-color: black !important;
}