.fragment {
    height: 400px;
    width: 400px;
    position: relative;
    border-left: 3rem solid white !important;
    box-sizing: border-box;
    overflow: hidden;

    &__mini {
        height: 100%;
        transform: scale(1.2);
        transition: all 0.5s ease-in-out;
    }

    &__container {
        flex-wrap: wrap;
    }

    &__title {
        transform: rotate(90deg);
        position: absolute;
        top: 0;
        left: -0;
        font-size: 4rem !important;
        padding-bottom: 4px;
        width: 100%;
    }

    &__link {
        width: fit-content;
        height: fit-content;
    }

    &__para {
        margin-top: calc(100% - 4.5rem);
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
        height: 100%;
    }

    &__overlay {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 !important;
    }
}

.fragHover {
    transform: scale(1.0);
    filter: blur(2px);
}

.main {
    height: 100%;
    width: 100%;
    box-sizing: border-box;

    // &__title {
    //     position: absolute;
    //     top: 230px;
    // }
    &__link {
        width: 45%;
    }
}

.timeFrag {
    height: 100px;
    width: 100px;
    margin-top: 1rem;
    border: 5px solid white !important;

    &__image {
        height: 100%;
    }

    &__header {
        font-size: small;
        padding: 2px !important;
    }
}

.borderColor {
    border-color: green !important;
}



.mb-5r {
    margin-bottom: 5rem;
}